.black-back,
.face {
    background-color: #000
}
.experiences h5,
.jumbotron {
    margin-bottom: 0
}
@font-face{font-family:rockwell;src:url(../resources/rockwell.ttf)}@font-face{font-family:sf;src:url(../resources/sf.ttf)}@media screen and (max-width:1024px) {
    .filler, header {
        height: 48px !important;
    }
    .spacer,
    img {
        display: none !important; 
    }
	.btns {
		display: inherit !important;
	}
    header {
        color: #fff!important;
        padding-top: 0!important;
        background-image: url(../img/background5.png)!important;
        z-index: 20!important;
        font-size: 24px!important;
        line-height: 48px!important;
        text-align: left!important;
        padding-left: 20px!important
    }
    .content {
        margin-left: 0!important
    }
}
@media screen and (max-width: 450px) {
    .mobile {
        display: none!important
    }
}
.sai {
    color: #fff;
    text-shadow: 1px 1px 0 #000
}
#name {
    transition: all .3s ease
}
#name,
.img-circular {
    -webkit-transition: all .3s ease
}
.face {
    padding-top: 100px
}
.img-circular {
    width: 200px;
    height: 200px;
    background-image: url(../img/face.png);
    background-size: cover;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    transition: all .3s ease
}
h1,
h2,
h4 {
    font-family: rockwell
}
.experiences h5 {
    padding-bottom: 0
}
.stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000
}
.experience {
    padding-left: 5px
}
.jumbo-text {
    color: #C9C9C9!important
}
header,
header.sticky {
    color: #fff;
    background-image: url(../img/background5.png);
    z-index: 20
}
.unc {
    align: center;
    margin-bottom: 40px
}
.filler {
    transition: all .3s ease
}
.filler,
header {
    height: 220px;
    -webkit-transition: all .3s ease
}
.apps {
    padding-bottom: 20px;
    background-color: #F2F2F2!important
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6 {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px
}
.buttons {
    float: right;
    text-align: right;
    margin-right: 7px;
    margin-top: 7px
}
.content {
    margin-left: -10%
}
.intro {
    text-align: center;
    background-color: #f2f2f2;
    font-size: 20px
}
header {
    font-family: rockwell;
    padding-top: 10px;
    padding-left: 32%;
    position: fixed;
    width: 100%;
    text-align: left;
    font-size: 52px;
    line-height: 108px;
    transition: all .3s ease
}
#facepic {
    transition: all .3s ease
}
#tohide {
    height: 5px
}
header.sticky {
    padding-top: 0;
    font-size: 24px;
    line-height: 48px;
    height: 48px;
    text-align: left;
    padding-left: 20px
}
.ext {
    margin: 0
}
html {
    position: relative;
    min-height: 100%
}
body {
    font-family: sf;
    margin-bottom: 60px
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000;
    padding-top: 5px
}
.footer-text {
    color: #C9C9C9;
    text-align: left;
    margin: 0;
    font-family: rockwell
}
a,
a:active,
a:focus {
    outline: none;
}
.filler {
    background-color: #7FB8DC;
}
